div(ng-cloak)
    md-content
        div(layout="column" layout-align="start end")
            small Advanced settings
            switch(id="advancedSettings" name="advancedSettings" ng-model="advancedSettings")
        md-tabs(md-dynamic-height, md-center-tabs, md-swipe-content)
            md-tab(label="actuators")
                md-content.md-padding
                    h1.md-display-2 Actuators
                       div(layout="row" ng-repeat="node in actuatorsByNode")
                           .md-title(flex="5") {{ node.node }}
                           div.md-body-1(layout="row" ng-repeat="device in node.devices")
                               md-card
                                   //switch(id="{{device.idx}}" name="{{device.name}}" ng-model="device.status")
                                   //span(ng-if="device.typeImg == 'lightbulb'")
                                   //    span(ng-if="device.protected")
                                   //        switch(id="{{device.idx}}" disabled="true" name="{{device.name}}" ng-model="device.status")
                                   //    span(ng-if="!device.protected")
                                   //        switch(id="{{device.idx}}" name="{{device.name}}" ng-model="device.data" ng-change="change(device.idx)")
                                   //span(ng-if="device.typeImg != 'door' && device.typeImg != 'lightbulb' && device.typeImg != 'motion'")
                                   //    switch(id="{{device.idx}}" name="{{device.name}}" ng-model="device.status")
                                   .md-subhead {{ device.name }}
                                   small(ng-if="advancedSettings") {{device.lastUpdate}}
            md-tab(label="sensors")
                md-content.md-padding
                    h1.md-display-2 Sensors
                        div(layout="row" ng-repeat="room in mergeSensorDevices")
                            .md-title(flex="5") {{ room.name }}
                            div.md-body-1(layout="row" ng-repeat="device in room.devices")
                                div(ng-repeat="value in device.data track by $index")
                                    md-card(ng-if="value.unity == 'C'")
                                        img(src="/img/temperature.png" alt="temperature" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                    md-card(ng-if="value.unity == '%'")
                                        img(src="/img/humidity.png" alt="humidity" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                    md-card(ng-if="value.unity == 'hPa'")
                                        img(src="/img/pressure.png" alt="pressure" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                    md-card(ng-if="value.unity == 'ppm'")
                                        img(src="/img/co2.png" alt="co2" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                    md-card(ng-if="value.unity == 'lx'")
                                        img(src="/img/light_on.png" alt="lux" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                    md-card(ng-if="value.unity == 'dB'")
                                        img(src="/img/speaker_off.png" alt="sound" title="Update : {{device.lastUpdate}}")
                                        md-card-content
                                            span {{ value.value }} {{ value.unity }}
                                            p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                md-card(ng-if="device.switchType == 'Motion Sensor' && device.subType == 'X10'")
                                    span(ng-if="device.data")
                                        img(src="/img/motion_on.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                    span(ng-if="!device.data")
                                        img(src="/img/motion_off.png" alt="motion_off" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span Recent motion
                                        p.md-caption(ng-if="advancedSettings") {{device.lastUpdate}}
                                md-card(ng-if="device.typeImg == 'door'")
                                    span(ng-if="device.open")
                                        img(src="/img/front_door_opened.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                    span(ng-if="!device.open")
                                        img(src="/img/front_door_closed.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span {{device.name}}

            md-tab(label="general")
                md-content.md-padding
                    h1.md-display-2 General
                        div(layout="row")
                            div.md-body-1(ng-repeat="room in mergeGeneralDevices")
                                .md-title {{ room.name }}
                                div.md-body-1(style="padding: 20px; width: 150px;" ng-repeat="device in room.devices")
                                    p {{ device.name }}
                                        strong {{ device.value }}{{ device.unity }}
                                    div(style="height:250px;width:250px")
                                        canvas.chart.chart-doughnut(id='{{device.idx}}',chart-legend=true, chart-data='device.data', chart-labels='device.labels')
            md-tab(label="cameras")
                md-content.md-padding
                    h1.md-display-2 Cameras
                        div.md-body-1(layout="row")
                            div(flex)
                                img(src="http://192.168.0.31:8081", style="width:275px;")