md-content {
    height: 100%;
    width: 100%;
    background-color: #252830;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
}

md-card > img, md-card > span > img {
    padding: 20px;
    width: 75px;
    margin: 0 auto;
}

md-card > md-card-content {
    margin: 0 auto;
}

md-card > span > span {
    margin: 0 auto;
}

md-card {
    padding: 5px;
}

md-card md-card-content {
    padding: 5px;
}

md-card.battery_low {
    background-color: darkred;
}

md-grid-tile-footer figcaption, md-grid-tile-header figcaption {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

md-grid-tile-content > div {
    padding: 10px;
}

md-grid-tile-header h3 {
    font-size: 16px !important;
}

md-grid-tile-header h3 {
    font-size: 16px !important;
}