body {
    background: #293a46;
    color: #293a46;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
    margin: 0;
}
